@page "/editarproducto"
@inject IGenericService<Producto> ProductoService
@inject NavigationManager NavigationManager

<HeaderPage TitlePage="Editando un producto" />

@if (producto == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <h3>Cargando un producto</h3>
    <EditForm Model="producto" OnValidSubmit="GuardarProducto">
        <DataAnnotationsValidator />

        <label class="form-label mb-2" for="txtLocalidad">Nombre:</label>
        <InputText class="form-control mb-2" type="text" @bind-Value="producto.Nombre" />

        <ValidationSummary />
        <button type="submit" class="btn btn-primary mb-2">Guardar</button>

    </EditForm>
}

@code {
    public Producto? producto { get; set; }

    protected override void OnInitialized()
    {
        producto = new Producto();
    }

    private async Task GuardarProducto()
    {
        var response = await ProductoService.AddAsync(producto);
        NavigationManager.NavigateTo("/productos");
    }
}
